*.iml
.gradle/
/local.properties
.externalNativeBuild
/.idea/
/gradle/
.DS_Store
!/socialpurge-app/build.gradle
!/socialpurge-app/google-services.json
!/socialpurge-app/libs/
!/socialpurge-app/proguard-rules.pro
/build/
/socialpurge-app/release/output.json
